body {
  background-color: #edf2f7;
}

.spinner-wrapper {
  position: relative;
}

.spinner {
  height: 4px;
  width: 0px;
}

.animation {
  animation: sampleanimation 4.5s infinite;
}

@keyframes sampleanimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
